/* Contenedor principal */
.panel-container {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  height: 100vh; /* Ocupa toda la altura del navegador */
  display: flex;
  flex-direction: column; /* Asegura que el contenido esté apilado */
  justify-content: space-between; /* Distribuye el contenido */
  box-sizing: border-box; /* Incluye padding en el cálculo del tamaño */
}

/* Header en formato horizontal */
.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc8a2;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no sobrepase el contenedor */
}

.panel-header h1 {
  font-size: 24px;
  color: #333;
}

.panel-horizontal {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.panel-horizontal span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.search-bar {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.new-order-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.new-order-button:hover {
  background-color: #ff4781;
}

/* Main content */
.panel-main {
  flex: 1; /* Ocupa el espacio restante entre el header y el footer */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.panel-main h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

.panel-table-container {
  width: 100%;
  height: auto;
  max-height: calc(100% - 100px); /* Deja espacio para otros elementos */
  overflow-y: auto; /* Desplazamiento vertical si es necesario */
}

.panel-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel-table th,
.panel-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.panel-table th {
  background-color: #ffc8a2;
  color: #333;
  font-weight: bold;
}

.panel-table tbody tr:hover {
  background-color: #fce6db;
}

/* Footer */
.panel-footer {
  padding: 15px 20px;
  text-align: center;
  background-color: #ffc8a2;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-image{width: 50px; height: auto;}